<ion-tabs [selectedIndex] = "myIndex">
  <ion-tab [root]="peopleRoot" tabTitle="Peoples" tabIcon="people"></ion-tab>
  <ion-tab [root]="detailsRoot" tabTitle="Details" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="mapRoot" tabTitle="Map" tabIcon="map"></ion-tab>
</ion-tabs>
