<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Peoples</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let people of peoples" (click)="openDetails(people)">
      <ion-avatar item-start>
        <ion-icon name="contact"></ion-icon>
      </ion-avatar>
      <h2>{{people.employee_name}}</h2>
      <p>{{people.employee_salary}}</p>
    </ion-item>
  </ion-list>
  <button padding ion-button color="light" round (click)='refreshData()'>Tải lại dữ liệu</button>
</ion-content>