<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>

    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  This is Home page!
</ion-content>
