<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Map</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Tỉnh/Thành phố</ion-label>
      <ion-select [(ngModel)]="provinceID" (ionChange)="loadDists(provinceID)">
        <ion-option *ngFor="let province of provinces" value="{{province.provinceId}}">{{province.provinceName}}
        </ion-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="dists != null">
      <ion-label>Quận/Huyện</ion-label>
      <ion-select [(ngModel)]="distName" (ionChange)="reLocate(distName)">
        <ion-option *ngFor="let dist of dists" value="{{dist.districtName}}">{{dist.districtName}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <div id="map2" style=" width: 100%;
    height: 80%;   ">
  </div>

</ion-content>