<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Page1</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  This is Page 1!
</ion-content>