<ion-header>
    <ion-navbar>
        <ion-buttons start>
            <button ion-button menuToggle>
              <ion-icon name="menu"></ion-icon>
            </button>
          </ion-buttons>
          <ion-title>Details</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content>
    <ion-card>
      <img src=""/>
      <ion-card-content *ngIf="people!=null">
        <ion-card-title>
          {{people.employee_name}}
          </ion-card-title>
        <p>
          {{people.employee_salary}}
        </p>
      </ion-card-content>
      <button padding ion-button color="light" round (click)='deleteConfirm()'>Xoá nhân viên</button>
    </ion-card>
  </ion-content>