<ion-header>
    <ion-navbar>
      <ion-buttons start>
        <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>Page2</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>
    This is Page 2!
  </ion-content>